body {
	background-color: #1d47c3;
	font-size: 80pt;
	font-weight: bold;
	color: white;
	text-align: center;
}

h1 {
	font-size: 40pt;
}

h2 {
	font-size:15pt;
}

#display_panel {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

#display_panel > div {
	display: inline-block;
	vertical-align: middle;
}

.digit img , .digit span{
	float: left;
	clear: both;
}

.digit img {
	opacity: 0.5;
}

.digit img:hover {
	opacity: 1;
}

#control {
	border-style: none;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

button {
	text-align: center;
	width: 130px;
	height: 60px;
	border-radius: 5px;
	font-size: 25pt;
	font-family: Helvetica, Arial, sans-serif;
}